.leftContentActive,
.contentActive {
  flex-direction: row;
  align-items: center;
}
.contentActive {
  justify-content: space-between;
  margin-top: 20px;
}
.textContentActive {
  font-family: "Italic";
  font-weight: 100;
  font-size: 16px;
  color: #1f1f1f;
  margin-left: 5px;
}
.picker {
  width: 120px;
  justify-content: center;
  height: 50px;
  padding-left: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}
.pickerItem {
  font-family: "Regular";
  font-weight: 400;
  font-size: 13px;
  color: #1f1f1f;
}