.inputs {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.input {
  font-family: "Italic";
  background-color: #fafafa;
  padding: 11px 18px;
  border-radius: 16px;
  font-weight: 100;
  font-size: 28px;
  color: #1f1f1f;
  margin-bottom: 25px;
}
.title {
  text-align: center;
  font-family: "Regular";
  font-weight: 400;
  font-size: 16px;
  color: #9d9d9d;
  margin-bottom: 5px;
}
.subtitle {
  text-align: center;
  font-family: "Italic";
  font-weight: 100;
  font-size: 16px;
  color: #1f1f1f;
}
