.container {
  flex: 1;
  background-color: white;
  padding: 20px;
}
.content {
  margin-top: 50px;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.inputContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 20px;
  border-radius: 16px;
  /* margin-bottom: 40px; */
}
.labelInput {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #404040;
  margin-bottom: 5px;
  font-family: "Regular";
}
.textInput {
  width: 90%;
  margin-left: 15px;
  font-family: "Regular";
}
.errorInput {
}

/* Buttons */
.continue {
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  background-color: #1a1528;
  border-radius: 16px;
}
.textContinue {
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 14px;
  font-family: "Regular";
}

.extras {
  flex-direction: row;
  justify-content: center;
  padding: 15px 10px;
  border: 1px solid #efeded;
  border-radius: 16px;
}

.title {
  font-weight: 100;
  font-size: 30px;
  color: #1f1f1f;
  text-align: center;
  font-family: "Italic";
}
.enterCode {
  margin-bottom: 15px;
}
.subtitle,
.timer,
.code {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #404040;
  font-family: "Regular";
}
.subtitle {
  margin-bottom: 30px;
}
.code, .textRules {
  margin: 20px 0px;

}
.textRules {
  font-family: 'Regular';
font-weight: 400;
font-size: 14px;
color: #9D9D9D;
}
.emailText,
.timer {
  color: #1f1f1f;
  font-weight: 700;
}
