.container {
  width: 100%;
}
.headerBO {
  padding: 35px 20px 10px;
}
.headerWB,
.header {
  padding: 35px 20px 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffce48;

}
.left,
.right,
.home {
  flex-direction: row;
  align-items: center;
}
.back {
    margin-right: 10px;
}
.textLogo {
  font-family: "Regular";
  font-weight: 700;
  font-size: 18px;
  color: #1a1528;
  margin-left: 5px;
}
.notifications {
  background: #1a1528;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.user {
  margin-left: 10px;
  border: 1px solid #dedede;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}
