.container {
  flex: 1;
  background-color: white;
  padding: 20px;
}

.content {
  margin-top: 50px;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.form {
  flex: 1;
}

.buttons {
  margin-top: 20px;
}

.text {
  font-size: 20px;
  font-family: "Regular";
}

.inputContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 20px;
  border-radius: 16px;
}

.labelInput {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #404040;
  margin-bottom: 5px;
  font-family: "Regular";
}

.textInput {
  width: 90%;
  margin-left: 15px;
  font-family: "Regular";
}

.errorInput {}

/* Line */
.hairline {
  position: relative;
  margin: 20px 0px;
}

.line {
  background-color: #efeded;
  width: 100%;
  height: 1px;
  position: absolute;
  margin-top: 10px;
}

.textLine {
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 10px;
  align-self: center;
  color: #9d9d9d;
  font-family: "Regular";
}

/* Selects */
.selects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Buttons */
.login {
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  background-color: #1a1528;
  border-radius: 16px;
}

.textLogin {
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 14px;
  font-family: "Regular";
}

.extras {
  flex-direction: row;
  justify-content: center;
  padding: 15px 10px;
  border: 1px solid #efeded;
  border-radius: 16px;
}


.title {
  font-weight: 100;
  font-size: 30px;
  color: #1f1f1f;
  text-align: center;
  font-family: "Italic";
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  color: #404040;
  font-family: "Regular";
}

.forgot,
.rememberText {
  font-weight: 400;
  font-size: 14px;
  color: #404040;
  font-family: "Regular";
}