.container {
}
.images {
  flex-direction: row;
  margin-bottom: 15px;
}
.paymentInputs {
  flex-direction: row;
}

.inputCardNumber,
.inputCardDate,
.inputCardCode {
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0px;
  border-radius: 16px;
  margin-bottom: 15px;
}
.textCardNumber {
  width: 90%;
  font-family: 'regular';
}
.inputs {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.inputCardDate,
.inputCardCode {
  width: 48%;
}
.textCardDate,
.textCardCode {
  width: 100%;
  font-family: 'regular';
}

.button {
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.btnBg {
  text-align: center;
  padding: 15px;
  border-radius: 16px;
}
.btnText {
  text-align: center;
  font-size: 14px;
  font-family: 'regular';
}
