.container {
  /* flex: 1; */
  padding: 20px;
  background-color: #FFCE48;
}

.button {
  background-color: purple;
  padding: 10px;
  border-radius: 10px;
  color: red;
  text-align: center;
  font-size: 15px;
  width: 50%;
  font-family: "Regular";
}

/* Estilos del Contenedor del Modal Bottom */
.containerModal {
  padding: 20px;
}

.titleModal {
  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-weight: 100;
}

.optionsModal {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.optionDateModal {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  border: 1px solid #D9D9D9;
  border-radius: 12px;
  max-width: 100px;
  margin-right: 10px;
}

.textDateModal {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #1F1F1F;
  margin-right: 5px;
}

.optionTransportModal {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 9px 15px;
  border: 1px solid #D9D9D9;
  border-radius: 12px;
  max-width: 100px;
  margin-left: 10px;
}

.borderIconModal {
  border-radius: 12px;
}

.hourIconModal {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.textHourModal {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #1F1F1F;
}

.textMinutesModal {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #9D9D9D;
}

.destinationModal {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textStateModal {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #9D9D9D;
}

.textToModal {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #404040;
}

.textCityModal {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #404040;
}


.buttonsModal {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.btnModal {
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
}

.btnLeftModal {
  border: 1px solid #D9D9D9;
  padding: 12px 24px;
}

.textBtnModal {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #1F1F1F;
  text-align: center;
}

.btnRightModal {
  background-color: #1A1528;
  padding: 16px 24px;
}

.tagsModal {
  flex-direction: row;
}

.separeModal {
  margin-bottom: 10px;
}

.detailsModal {}

.titleDetailModal {
  flex-direction: row;
  align-items: center;
}

.borderIconDetail {
  border-radius: 999px;
  background-color: #F5F5F5;
  padding: 5px;
}

.textTitleDetail {
  margin-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #9D9D9D;
}