.container {
  flex: 1;
  /* background-color: white; */
}
.profile {
  flex: 1;
  align-items: center;
}
.content {
  flex: 1;
}
.profileContent {
  padding: 20px 0px;
  align-items: center;
}
.containerImage {
  justify-content: center;
  align-items: center;
}
.image {
  height: 150px;
  width: 150px;
  border: 5px solid #ff8811;
  border-radius: 500px;
}

.edit {
  /* background-color: #1f1f1f; */
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: relative;
  top: -30px;
  margin-bottom: -25px;
}
.user {
  font-family: "Italic";
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  /* color: #1f1f1f; */
  margin-bottom: 15px;
}
.idUser {
  flex-direction: row;
  align-items: center;
  /* background-color: #1a1528; */
  border-radius: 20px;
  padding: 8px;
  align-items: center;
}
.icon {
  /* background-color: #ff8811; */
  border-radius: 20px;
  padding: 5px;
}
.id {
  margin-left: 10px;
  font-family: "Italic";
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  /* color: #ffffff; */
  opacity: 0.8;
}
.travels {
  border-bottom: 1px solid #404040;
}
.textTravels {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.containerTravel {
  width: 60%;
  margin-right: 20px;
}
.titleTravel {
  font-family: "Italic";
  font-weight: 100;
  font-size: 20px;
  /* color: #1f1f1f; */
}
.subtitleTravel {
  font-family: "Regular";
  font-weight: 400;
  font-size: 12px;
  /* color: #404040; */
}
.textCard {
  flex-direction: row;
  justify-content: space-between;
}
.balance {
  text-align: center;
  padding: 16px;
  /* background-color: #ffffff; */
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}
.balanceText {
  text-align: center;
  font-weight: 400;
  /* color: #1f1f1f; */
  font-size: 16px;
  font-family: "Regular";
}
.card {
  padding: 25px 20px;
}
.travels {
  padding: 25px 20px;
}
.picker {
  width: 110px;
  justify-content: center;
  height: 56px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}
.pickerItem {
  font-family: "Regular";
  font-weight: 400;
  font-size: 12px;
  /* color: #1f1f1f; */
}
.line {
  /* background-color: #efeded; */
  width: 150%;
  height: 1px;
  /* position: absolute; */
}