.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.button {
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
  color: red;
  text-align: center;
  font-size: 15px;
  width: 50%;
  font-family: "Regular";
}
