.container {
  border: 0.5px solid #1f1f1f;
  margin-bottom: 20px;
  padding: 10px 0px;
  border-radius: 10px;
}
.containerText {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.textFrom {
  font-family: "light";
  font-size: 16px;
  margin-bottom: 5px;
}
.textHour {
  font-family: "thinItalic";
  font-size: 28px;
}
.textDate {
  font-family: "light";
  font-size: 16px;
}
.textDestination {
  font-family: "thinItalic";
  font-size: 14px;
}
.textFormat {
  margin-top: 5px;
  font-family: "regular";
  font-size: 13px;
  /* color: #1f1f1f; */
}
.ticketText {
  font-family: "light";
  font-size: 15px;
  /* color: #1a1528; */
}
.borderIconWalk {
  /* background-color: #f5f5f5; */
  padding: 5px;
  border-radius: 16px;
}
.borderIconBus {
  /* background-color: #1a1528; */
  padding: 5px 7px;
  border-radius: 16px;
}
.lineSolid {
  border-style: solid;
  border-bottom-width: 1px;
  border-color: #1a1528;
}

.lineDashed {
  border-style: dashed;
  border-bottom-width: 1px;
  border-color: #c7c7c7;
}
.ticketPrice {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px 8px;
  /* background-color: #ffce48; */
  border-radius: 16px;
  width: 100px;
  margin-left: 5px;
}
