.container {
  flex: 1;
  margin: 20px;
  /* background-color: #1a1528; */
  border-radius: 28px;
  padding: 25px 20px 20px;
}
.input {
  border: 1px solid #efeded5d;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 16px;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
}
.inputText {
  margin: 0px 5px;
  width: 70%;
  font-family: "Regular";
  font-weight: 500;
  font-size: 14px;
}
.options {
  flex-direction: row;
  justify-content: space-between;
}
.search {
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  /* background: #ff8811; */
  border-radius: 16px;
  margin-left: 5%;
}
/* DATETIME PICKERS */
.containerDatetime {
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}
.borderDatetime {
  padding: 15px 10px;
  flex: 1;
  background: rgba(241, 241, 241, 0.04);
  border-radius: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.textDatetime {
  font-family: "Regular";
  font-weight: 500;
  font-size: 17px;
  /* color: #ffffff; */
}

