.container {
  border: 1px solid #efeded;
  margin-bottom: 20px;
  padding: 10px 0px;
  border-radius: 10px;
}
.containerText {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.textFrom {
  font-family: "Regular";
  font-weight: 400;
  font-size: 16px;
  color: #9d9d9d;
  margin-bottom: 5px;
}
.textHour {
  font-family: "Italic";
  font-weight: 100;
  font-size: 28px;
  color: #1f1f1f;
}
.textDate {
  font-family: "Regular";
  font-weight: 400;
  font-size: 16px;
  color: #9d9d9d;
}
.textDestination {
  font-family: "Italic";
  font-weight: 100;
  font-size: 18px;
  color: #1f1f1f;
}
.ticketText {
  font-family: "Regular";
  font-weight: 500;
  font-size: 16px;
  color: #1a1528;
}
.borderIconWalk {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 16px;
}
.borderIconBus {
  background-color: #1a1528;
  padding: 5px;
  border-radius: 16px;
}
.lineSolid {
  border-style: solid;
  border-bottom-width: 1px;
  border-color: #1a1528;
}

.lineDashed {
  border-style: dashed;
  border-bottom-width: 1px;
  border-color: #c7c7c7;
}
.ticketPrice {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px 8px;
  background-color: #ffce48;
  border-radius: 16px;
  width: 100px;
  margin-left: 5px;
}
