.container {
  margin: 5px 20px 70px;
}
.top {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  margin-right: 8%;
  font-family: "Italic";
  font-weight: 100;
  font-size: 25px;
  color: #1f1f1f;
  text-align: center;
}
.topContent {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.textHour {
  font-family: "Regular";
  font-weight: 700;
  font-size: 48px;
  align-items: center;
  color: #1f1f1f;
}
.notificationAdd {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ff8811;
  border-radius: 12px;
}
.topTwoContent {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.states {
  font-family: "Regular";
  font-weight: 400;
  font-size: 14px;
  color: #9d9d9d;
}
.city {
  font-family: "Regular";
  font-weight: 400;
  font-size: 16px;
  color: #404040;
}
.to {
  font-family: "Regular";
  font-weight: 400;
  font-size: 14px;
  color: #404040;
  opacity: 0.8;
}
.destination {
  align-items: flex-end;
}
.tags {
  flex-direction: row;
  padding: 20px 0px;
}
.wifi,
.guarantees {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 12px 5px 8px;
  background: #f5f5f5;
  border-radius: 10px;
}
.wifi {
  width: 105px;
}
.guarantees {
  width: 160px;
  margin-left: 10px;
}
.tagText {
  font-family: "Regular";
  font-weight: 500;
  font-size: 12px;
  color: #1f1f1f;
  margin-left: 5px;
}
.buttons {
  flex-direction: row;
  align-items: center;
}
.picker {
  flex: 1;
  justify-content: center;
  padding: 5px;
  height: 56px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
}
.pickerItem {
  font-family: "Regular";
  font-weight: 400;
  font-size: 13px;
  color: #1f1f1f;
}
.buttonBuy {
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  height: 56px;
  background-color: #1a1528;
  border-radius: 16px;
  margin-left: 10px;
  flex: 1;
}
.textBuy {
    font-family: 'Regular';
font-weight: 700;
font-size: 14px;
color: #FFFFFF;
}