.container {
  flex: 1;
  /* background-color: white; */
  align-items: center;
}

.imageContainer {
  flex: 1;
  justify-content: flex-end;
  /* background-color: #ff8811; */
  border-radius: 0px 0px 35px 35px;
  overflow: hidden;
}
.image {
  margin-bottom: -110%;
}
.textContainer {
  padding: 20px;
  align-items: center;
  flex: 1;
}
.title {
  font-family: "Italic";
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  /* color: #1f1f1f; */
  margin-top: 35px;
}
.subtitle {
  font-family: "Regular";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  /* color: #1f1f1f; */
  margin-top: 15px;
}
.next {
  text-align: center;
  padding: 20px 30px;
  /* background-color: #1a1528; */
  border-radius: 16px;
  margin-top: 40px;
}
.textNext {
  text-align: center;
  font-weight: 700;
  /* color: white; */
  font-size: 14px;
  font-family: "Regular";
}

.paginator {
  flex-direction: row;
  height: 64px;
}

.dot {
  height: 12px;
  border-radius: 6px;
  background-color: #F5F5F5;
  margin: 0px 8px;
}