.container {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #FFCE48;
  width: 100%;
}
.content {
  /* background-color: green; */
  padding: 20px;
  margin-top: 50px;
  flex: 1;
  flex-direction: column;
  width: 100%;
}
.text {
  flex: 1;
  justify-content: center;
}
/* text */
.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.textName {
  font-weight: 700;
  font-size: 22px;
  color: #1a1528;
  margin-left: 10px;
  font-family: "Regular";
}

.textTitle {
  font-weight: 700;
  font-size: 48px;
  color: #1a1528;
  font-family: "Regular";
}
.textSubtitle {
  font-weight: 100;
  font-size: 16px;
  color: #1a1528;
  margin-top: 16px;
  font-family: "Regular";
}
/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin,
.register {
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  border-radius: 16px;
}
.signin {
  background-color: #1a1528;
  margin-bottom: 16px;
}
.register {
  background-color: #FF8811;
  margin-bottom: 28px;
}
.textSignIn,
.textRegister {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  font-family: "Regular";
}
.textSignIn {
  color: white;
}
.textRegister {
  color: #1a1528;
}
.textContinue {
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  color: #795100d2;
  font-family: "Regular";
}
