.content {
  padding: 20px;
  margin-top: 50px;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.form {
  flex: 1;
  margin: 10px 0px;
}
.inputContainer {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 11px 10px 11px 0px;
  border-radius: 8px;
  margin: 3px 0px 10px;
  height: 55px;
}
.labelInput {
  font-family: "bold";
  font-size: 14px;
  color: #404040;
}
.textInput {
  flex: 1;
  font-family: "regular";
  margin-left: 10px;
  color: #0077B6;
  height: 45px;
}
.errorInput {
  font-family: "regular";
  color: red;
  font-size: 12px;
  /* position: relative; */
  /* top: -10px; */
}
.placeholder {
  flex: 1;
  margin-left: 10px;
  color: #8c9199cb;
  font-size: 12px;
  font-family: "regular";
  height: 45px;
}
.security {
  position: relative;
  right: 27px;
}

.continue {
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  background-color: #00B4D8;
  border-radius: 16px;
  /* margin-top: 40px; */
}

.textContinue {
  text-align: center;
  font-family: 'regular';
  color: white;
  font-size: 14px;
}

.terms {
  font-size: 14px;
  color: #404040;
  font-family: 'regular';
}

.textContainer {
  margin: 30px 0;
}

.title {
  font-size: 30px;
  color: #00B4D8;
  text-align: center;
  font-family: "regular";
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  color: #404040;
  font-family: "regular";
}