.content {
  padding: 20px;
  margin-top: 50px;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.form {
  flex: 1;
  margin: 10px 0px;
}

.inputContainer {
  flex-direction: row;
  background-color: #fafafa;
  padding: 15px 20px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.labelInput {
  font-size: 14px;
  color: #404040;
  margin-bottom: 3px;
  font-family: 'regular';
}

.textInput {
  flex: 1;
  margin-left: 15px;
  font-family: 'light';
}

.errorInput {
  color: red
}

.continue {
  text-align: center;
  width: 100%;
  padding: 20px 10px;
  background-color: #00B4D8;
  border-radius: 16px;
  /* margin-top: 40px; */
}

.textContinue {
  text-align: center;
  font-family: 'regular';
  color: white;
  font-size: 14px;
}

.terms {
  font-size: 14px;
  color: #404040;
  font-family: 'regular';
}

.textContainer {
  margin: 30px 0;
}

.title {
  font-size: 30px;
  color: #00B4D8;
  text-align: center;
  font-family: "light";
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  text-align: center;
  color: #404040;
  font-family: "thin";
}