.content {
  padding: 20px;
  margin-top: 50px;
  flex: 1;
  flex-direction: column;
  width: 100%;
}
.imageContent {
  flex: 3;
  align-items: center;
}
.controls {
  flex-direction: row;
  justify-content: center;
}
.camera {
  text-align: center;
  padding: 10px;
  background-color: #00B4D8;
  border-radius: 16px;
}
.textCamera {
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}
.btnBg {
  text-align: center;
  padding: 15px;
  border-radius: 16px;
}
.btnBg {
  border: 1px solid #00B4D8;
  margin-left: 15px;
  width: 60%;
}
.skip {
  border: 1px solid #efeded;
}
.btnText {
  text-align: center;
  color: #00B4D8;
  font-size: 14px;
  font-family: 'regular';

}
.skip,
.continueTwo {
  text-align: center;
  padding: 20px 10px;
  border-radius: 16px;
}
.skip {
  width: 30%;
  border: 1px solid #00B4D8;
}
.textSkip,
.textContinueTwo {
  text-align: center;
  font-size: 14px;
  font-family: 'regular';
}
.textSkip {
  color: #00B4D8;
}
.textContinueTwo {
  color: white;
}
.continueTwo {
  width: 65%;
  background-color: #00B4D8;
  margin-left: 10px;
}
.textContainer {
  margin: 30px 0;
}

.title {
  font-size: 30px;
  color: #00B4D8;
  text-align: center;
  font-family: "light";
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
  color: #404040;
  font-family: "thin";
}

.defaultImage {
  width: 220px;
  height: 220px;
  border-radius: 500px;
  border: 2.5px solid #00B4D8;
  margin-bottom: 2rem;
}